*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
/* INIZIO HEADER */
header{
    width: 100%; 
    background-color: rgb(17, 122, 241);
}
.container{
    width: 100%;
    margin: 0 auto;
}
.row_header{
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
}
.col_header_left, .col_header_right_menu{
    padding: 15px 0;
}
.hamburger{
    font-size: 30px;
    color: white;
    display: block;
}
.fa-solid.fa-bars{
    color: white;
    margin-bottom: 0;
    font-size: 30px;
}
.menu{
    display: none;
}
li{
    display: inline-block;
    margin-right: 15px;
    color: white;
}
.start{
    color: black;
    background-color: white;
    border-radius: 20px;
    padding: 5px 10px;
}
/* FINE HEADER */
/* INIZIO MAIN */
.row_main{
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
}
.title_sec_demo{
    font-size: 25px;
    color: rgb(17, 122, 241);
    margin-bottom: 30px;
}
/* INIZIO SECTION DEMO */
.col_double, .col_demo_single{
    width: calc(100% - 20px);
    margin :10px;
    background-color: rgba(1, 150, 236, 0.411);
    border-radius: 20px;
    padding-top: 40px;
}
.content_double_info, .content_double_img{
    width: 70%;
    margin: 0 auto;
}
p{
    line-height: 30px;
}
.app_store{
    font-size: 18px;
    background-color:rgb(17, 122, 241) ;
    color: white;
    border-radius: 25px;
    padding: 15px 20%;
    border: none;
    margin: 30px 0;
    letter-spacing: 5px;
    font-weight: 600;
}
.demo_img{
    width: 100%;
    display: block;
}
.fa-solid{
    color: rgb(17, 122, 241);
    font-size: 100px;
    margin-bottom: 20px;
}
.col_demo_single{
    padding: 20px;
    text-align: center;
}
/* INIZIO SECTION STRATEGIC PLANING */
.strategic_planing{
    background-color: rgb(154, 145, 235);
}
.content_planing_info, .content_planing_img{
    width:calc(100% - 20px);
    margin: 10px 0; 
    color: white;
}
.planing_img{
    width: 100%;
}
.h2_planing{
    font-size: 55px;
    margin: 100px 0;
}
.content_planing_img{
    background-color: white;
    border-radius: 50px;
    text-align: center;
    color:black;
    padding: 20px;
}
.planing_img2{
    width: 100%;
    margin: 30px 0;
}
.info_develop{
    margin: 25px 0;
}
.fa-solid.fa-arrow-down{
    background-color: rgb(154, 145, 235);
    border-radius: 50%;
    padding: 17px 20px;
    font-size: 20px;
    color: black;
}

/* INIZIO SECTION TESTIMONIALS*/
.col_testimonials{
    background-color: rgb(154, 145, 235);
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 30px;
    text-align: center;
}
.content_testimonials{
    width: calc(100% - 20px);
    margin: 10px;
    color: white;
    padding: 10px 0; 
}
.testimonial_img{
    width: 50%;
    border-radius: 50%; 
}
.fa-solid.fa-quote-left, .fa-solid.fa-quote-right{
    display: inline-block;
    font-size: 15px;
    color: white;
    vertical-align: middle;

}



/* FINE MAIN */



/* Tablet */
@media screen and (min-width: 768px){
    .row_main{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .col_double{
        width: calc(100% / 3 * 2 - 20px);
    }
    .col_demo_single{
        width: calc(100% / 3 - 20px);
    }
    .content_double_info{
        width: 90%;
        margin: 0 auto;
    }
    .app_store{
        padding: 15px 10%;

    }
    .content_double_img{
        width: 60%;
        margin: 0;
        margin-left: 20px;
    }
    /* Inizio section testimonials */
    .col_testimonials{
        display: flex;
        
    }
    .content_testimonials.left{
        width: 30%;
    }
    .content_testimonials.right{
        width: 70%;
    }


}

/* Desktop */
@media screen and (min-width: 991px){
    .container{
        width: 80%;
    }
    /* HEADER */
    .menu{
        display: block;
    }
    .hamburger{
        display: none;
    }
    /* SECTION DEMO */
    .col_double{
        display: flex;
        padding: 30px;
    }
    /* SECTION STRATEGIC PLANING */
    .content_planing_info, .content_planing_img{
        width: calc(100% / 2 - 20px);
        margin: 10px;
    }
    .h2_planing{
        font-size: 40px;
        margin: 50px 0;
    }
    .row_main.planing{
        width: 70%;
        margin: 0 auto;
    }

}

/* Large Desktop */
@media screen and (min-width: 1200px){


    
}